@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSO Portal</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_layout.main.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SSO.EndPoint.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header class="fixed-top">
            <nav class="navbar navbar-expand-sm navbar-dark shadow">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Public/Dashboard">SSO Portal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMain">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Public/Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Public/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Register">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
   

    <main role="main" class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="fixed-bottom">
            <div class="container">
                &copy; 2025 - SSO.EndPoint.WebApp - <a asp-page="/Public/Privacy">Privacy</a>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
